### Gradle ###
.gradle/
build/
/*/build/
CUnitAutomated-*.xml

# Ignore Gradle GUI config
gradle-app.setting

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Cache of project
.gradletasknamecache

### Intellij ###
*.iml
.idea/

/buildSrc
/src/main/cpp/extra

### VSCode ###
/.vscode

### Mac OSX ###
.DS_Store
