### Gradle ###
.gradle/
build/
CUnitAutomated-*.xml

# Avoid ignoring Gradle wrapper jar file (.jar files are usually ignored)
!gradle-wrapper.jar

# Log Files
*.log

### Intellij ###
*.iml
.idea/

### Java ###
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

### My Personal Practice ###
PracticeSpec.groovy
