language: java

jdk: oraclejdk9

install: true

script: ./gradlew clean check -s --scan

after_success: .buildscript/publishDocs.sh

branches:
  except:
    - gh-pages

sudo: true

before_cache:
  - rm -f  $HOME/.gradle/caches/modules-2/modules-2.lock
  - rm -fr $HOME/.gradle/caches/*/plugin-resolution/

cache:
  directories:
    - $HOME/.gradle/caches/
    - $HOME/.gradle/wrapper/
    - $HOME/.cache/pip

env:
  global:
    - secure: JsJTTZ1ZezjedDLB/9jtAgqj6ruGj/o/WFPTYxgv46VvbahSZYM2o16w9yYAHPwFNKhMIQXg9HoF7FfleQ4Jqz7ZPo1jpeOkU3bQO3YVYEyrLahd2K2gA6ipU8w9dEDDMBk21pvkbt0wke1FFIBmG71FHSOlYS7X4jETuy44Nd4=
