name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

jobs:
  jvm:
    name: JDK ${{ matrix.java-version }}
    runs-on: ubuntu-latest

    strategy:
      matrix:
        java-version:
          - 11
          - 19

    steps:
      - name: Cache Gradle dependencies
        uses: actions/cache@v3.3.1
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
            ~/.cache/pip
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Checkout Project
        uses: actions/checkout@v3.5.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.6

      - name: Configure JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3.11.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}
          cache: gradle

      - name: Run Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: assemble test build check -s

      - name: Publish Test Report
        uses: mikepenz/action-junit-report@v3.7.5
        if: success() || failure() # always run even if the previous step fails
        with:
          report_paths: '**/build/test-results/test/TEST-*.xml'

      - name: Upload Artifacts to Github
        uses: actions/upload-artifact@v3
        if: github.repository == 'jaredsburrows/cs-interview-questions' && github.ref == 'refs/heads/master'
        with:
          name: cs-interview-questions-${{ github.workflow }}-${{ github.run_id }}
          path: |
            c/build/exe
            c/build/install
            c/build/libs
            c/build/test-results
            cpp/build/exe
            cpp/build/install
            cpp/build/libs
            cpp/build/test-results
            java/build/libs
            java/build/reports
            java/build/test-results
            kotlin/build/libs
            kotlin/build/reports
            kotlin/build/test-results

  publish:
    runs-on: ubuntu-latest
    if: github.repository == 'jaredsburrows/cs-interview-questions' && github.ref == 'refs/heads/master'
    needs:
      - jvm

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3.5.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.6

      - name: Configure JDK ${{ matrix.java-version }}
        uses: actions/setup-java@v3.11.0
        with:
          distribution: temurin
          java-version: 11
          cache: gradle

      - name: Run Build
        uses: gradle/gradle-build-action@v2
        with:
          arguments: asciidoctor -s

      - name: Publish Website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/docs/asciidoc
          user_name: "Github Actions"
          user_email: "action@github.com"
