name: Build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  GRADLE_OPTS: "-Dorg.gradle.jvmargs=-Xmx4g -Dorg.gradle.daemon=false -Dkotlin.incremental=false"
  JAVA_VERSION: 19

jobs:
  build:
    runs-on: ubuntu-latest

    permissions:
      checks: write
      pull-requests: write

    strategy:
      fail-fast: false

    steps:
      - name: Checkout Project
        uses: actions/checkout@v3.5.3

      - name: Cache Gradle dependencies
        uses: actions/cache@v3.3.1
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
            ~/.cache/pip
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Configure JDK ${{ env.JAVA_VERSION }}
        uses: actions/setup-java@v3.12.0
        with:
          distribution: temurin
          java-version: ${{ env.JAVA_VERSION }}
          cache: gradle

      - name: Setup Gradle
        uses: gradle/gradle-build-action@v2.8.1
        with:
          gradle-home-cache-cleanup: true

      - name: Run Build
        run: ./gradlew build -s

      - name: Publish Test Report
        uses: EnricoMi/publish-unit-test-result-action@v2.8.0
        if: always()
        with:
          check_name: "Unit Test Results"
          comment_mode: off
          files: |
            **/build/test-results/**/TEST-*.xml

      - name: Upload Artifacts to Github
        uses: actions/upload-artifact@v3.1.2
        if: github.repository == 'jaredsburrows/cs-interview-questions' && github.ref == 'refs/heads/master'
        with:
          name: cs-interview-questions-${{ github.workflow }}-${{ github.run_id }}
          path: |
            build/reports
            c/build/exe
            c/build/install
            c/build/libs
            c/build/test-results
            cpp/build/exe
            cpp/build/install
            cpp/build/libs
            cpp/build/test-results
            docs/build/docs/asciidoc
            java/build/libs
            java/build/reports
            java/build/test-results
            kotlin/build/libs
            kotlin/build/reports
            kotlin/build/test-results
