name: build

on:
  push:
    branches:
      - master
  pull_request:
    types: [ opened, labeled, unlabeled, synchronize ]

jobs:
  jvm:
    runs-on: ubuntu-latest

    strategy:
      fail-fast: false
      matrix:
        java-version:
          - 8
          - 11
          - 17

    steps:
      - name: Cache Gradle dependencies
        uses: actions/cache@v2.1.0
        with:
          path: |
            ~/.gradle/caches
            ~/.gradle/wrapper/
            ~/.cache/pip
          key: ${{ runner.os }}-gradle-${{ hashFiles('**/*.gradle*', '**/gradle-wrapper.properties') }}
          restore-keys: ${{ runner.os }}-gradle-

      - name: Checkout Project
        uses: actions/checkout@v2.4.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.4

      - name: Configure JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: ${{ matrix.java-version }}

      - name: Run Build
        run: ./gradlew clean assemble test build check -s --scan

      - name: Build website but do not publish
        run: ./gradlew asciidoc -s --scan

      - name: Upload Artifacts to Github
        uses: actions/upload-artifact@v2
        if: always()
        with:
          name: cs-interview-questions-${{ github.workflow }}-${{ github.run_id }}
          path: |
            c/build/exe
            c/build/install
            c/build/libs
            c/build/test-results
            cpp/build/exe
            cpp/build/install
            cpp/build/libs
            cpp/build/test-results
            java/build/libs
            java/build/reports
            java/build/test-results
            kotlin/build/libs
            kotlin/build/reports
            kotlin/build/test-results
          if-no-files-found: warn

  publish:
    runs-on: ubuntu-latest
    if: github.ref == 'refs/heads/master'
    needs:
      - jvm

    steps:
      - name: Checkout Project
        uses: actions/checkout@v2.4.0

      - name: Validate Gradle Wrapper
        uses: gradle/wrapper-validation-action@v1.0.4

      - name: Configure JDK
        uses: actions/setup-java@v2.5.0
        with:
          distribution: temurin
          java-version: 8

      - name: Build Website
        run: ./gradlew clean asciidoc -s --scan

      - name: Publish Website
        uses: peaceiris/actions-gh-pages@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/build/docs/asciidoc
          user_name: "Github Actions"
          user_email: "action@github.com"
