name: Validate Gradle Wrapper

on:
  pull_request:
    paths:
      - gradlew
      - gradlew.bat
      - gradle/wrapper/**

jobs:
  validate:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Project
        uses: actions/checkout@v6.0.0

      - name: Validate Gradle Wrapper
        uses: gradle/actions/wrapper-validation@v5
